body {
    font-family: 'Libre Franklin', sans-serif;
    background: #CCBAED;
    background: -webkit-linear-gradient(top left, #CCBAED, #6FFFD9);
    background: -moz-linear-gradient(top left, #CCBAED, #6FFFD9);
    background: linear-gradient(to bottom right, #CCBAED, #6FFFD9);
    height: 100vh;
    text-align: center;
}

h1 {
    margin-top: 0;
    padding-top: 1em;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

#start-button {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 1em 8em;
}

#answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    height: 50vh;
}

.answer {
    margin: 1em;
    padding: 1em;
    width: 70%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.correct {
    background-color: #03B888;
    font-weight: 700;
    color: white;
}

.incorrect {
    background-color: #BA4938;
    font-weight: 700;
    color: white;
}